* text=auto

*.md text eol=lf
*.sql text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.java text eol=lf
*.ino text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.env.example text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.zip binary